* {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#bg1 {
    background-color: #000;
    height: 70px;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}

#bg {
    background-color: rgb(128, 11, 11);
    padding: 20px 0;
}

.header-text ul li {
    display: inline-block;
    padding: 0 10px;
}

.header-text a {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}